@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #5e17eb;
    font-size: 100%;
}

/*inicio cabeçalho */

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px
}

.cabeçalho-imagem {
    height: 72px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.item-cabeçalho{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400px;
    font-size: 18px;
}

.item-cabeçalho:hover{
    color: #b0b0b0;
    transition: 0.4s;
}

/* inicio conteudo */

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 74px;
    color: #FFF2E7;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20%;
    margin-top: 10%; 
}

.conteudo-principal-imagem {
    height: 530px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-left: auto;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 16px;
    color: #FFF2E7
    
}

/*Projetos*/

ul {
    list-style: none
  }

  .projetos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFF2E7;
    border-radius: 10px;
}

.imagem-projeto {
    width: 400px;
    
}

.projetos h2 {
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 32px;

}

.projetos p {
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.projetos li:hover{
    border-color: #b0b0b0;
}

.projetos li:active{
    border-color: #b0b0b0;
}

.projetos li:hover h2{
    font-size: 34px;
}

/*conteudo terceiro*/

.conteudo-terceiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-left: auto;
}

.conteudo-terceiro-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 16px;
    color: #FFF2E7
}

.conteudo-de-contato {
    display: flex;
    align-items: center;
}

.icon-telegram {
    width: 60px;
}

.icon-linkedin {
    width: 74px;
}

.icon-instagram {
    width: 55px;
}