@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #5e17eb;
    font-size: 100%;
}

/*inicio cabeçalho */

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px
}

.cabeçalho-imagem {
    height: 72px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.item-cabeçalho{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400px;
    font-size: 18px;
}

/* inicio conteudo */

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20%;
    margin-top: 10%;
}

.conteudo-principal-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 74px;
    color: #FFF2E7;
}

.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
    
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20%;
    margin-top: 10%; }

